[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2
